@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Lets create some superheroes!</h3>
    <img src="https://lh3.googleusercontent.com/proxy/Zf8BK6l-EzvVjMydXcFM_kHwOCjLmJ2uEXyVpQzRnQSSAsp27Jc2j68Pyobh8Xqf2OU-d-GF1CJyk3_4WKynrotNfaGi8l22mny9d3Lk4FgsWhS-mj8ms7E77xEZak5iQjdPerfnFDjy" class="TLAWimage"/>
    <p>
        <a asp-controller="Superheros" asp-action="Create">Click here to create a Superhero!</a>
    </p>
</div>
